# Ignore all node_modules folders
**/node_modules/

# Ignore specific node_modules folders
server/node_modules/
client/node_modules/
client/build
client/.env
client/.env.local
client/.env.development
client/.env.production
client/.env.test
client/.env.staging
client/.env.development.local
client/.env.production.local
node_modules
build
.env
/node_modules
./client/node_modules